body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #212121;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #555555;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #0077CC;
  text-decoration: none;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #0077CC;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: #005999;
}

button:active {
  background-color: #003c66;
}

button:focus {
  outline: none;
}

.img-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.form-div {
  width: 100%;
  margin: 0;
  padding: 0;
}
.form-div .form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  -webkit-box-lines: wrap;
  flex-wrap: wrap;
}
.form-div .form-group label {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #555555;
  margin-bottom: 4px;
}
.form-div .form-group .form-control {
  width: 100%;
  height: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #555555;
  margin-bottom: 16px;
}
.form-div .form-group .form-control:focus {
  outline: none;
  border: 1px solid #0077CC;
}

.d-none {
  display: none;
}

@keyframes dissapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.alert {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 16px;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #555555;
  animation: dissapear 3s ease-in-out 1 forwards;
}
.alert.alert-success {
  background-color: #4CAF50;
}
.alert.alert-warning {
  background-color: #FF9800;
}
.alert.alert-danger {
  background-color: #FF5722;
  border: 1px solid #ee3900;
}

.error-div {
  color: #FF5722;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-lines: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
}
.error-div .error-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.2;
}
.error-div .container {
  text-align: center;
  border-radius: 4px;
  padding: 2rem 3rem;
}
.error-div .container h1 {
  font-size: 5rem;
  font-weight: 700;
  margin: 1rem;
  color: #FF5722;
}
.error-div .container p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem;
}
.error-div .container .error-code {
  font-size: 1.5rem;
  font-weight: 600;
}
.error-div .container .error-message {
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem;
}
.error-div .container .error-button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #0077CC;
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.error-div .container .error-button:hover {
  background-color: #005999;
}
.error-div .container .error-button:active {
  background-color: #003c66;
}
.error-div .container .error-button:focus {
  outline: none;
}/*# sourceMappingURL=error.css.map */