asgiref==3.5.2
certifi==2022.6.15
chardet==4.0.0
distlib==0.3.5
Django==4.1
djangorestframework==3.13.1
filelock==3.7.1
idna==2.10
Pillow==9.2.0
platformdirs==2.5.2
psycopg2-binary==2.9.3
pytz==2022.1
requests==2.25.1
sqlparse==0.4.2
urllib3==1.26.5
virtualenv==20.16.3
