@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel+Decorative&family=Dancing+Script:wght@500&family=Open+Sans:wght@300&display=swap');
:root{
    color-scheme: light;
    --header-color:#D9042B;
    --nav-btn-color:#F23005;
    --nav-color:#ffffff;
    --bg-color:#D8D9D7;
}
/* #D9042B
#D8D9D7
#A6A15B
#D9B504
#F23005 */
*{
    font-family: 'Open Sans', sans-serif;
}
html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.btn {
    border-radius: 4px;
    padding: 8px 15px;
    font-weight: 800;
    color: #fff;
    background-color: var(--nav-btn-color);
    border: none;
    cursor: pointer;
}
.hover:hover{
    transform: scale(1.1);
}
#nav-items{
    width: 60%;
    letter-spacing: 2px;
}
.menu-bar {
    display: none;
    list-style: none;
}
.pink-btn{
    text-decoration: none;
    background-color: #D9042B;
    margin: 20px auto 5px auto;
    padding: 10px 20px;
    border-radius: 16px;
}
.black-bg{
    background-color: black;
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    width: fit-content;
}
#logout-btn{
    background-color: #D8D9D7;
    color: rgb(90, 90, 90);
    text-decoration: none;
    font-size: 0.9em;
    border-radius: 16px;
    border: 0.1px solid rgba(66, 66, 66,0.5);;
}
.shadow {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(27, 27, 27, 0.362);
    -moz-box-shadow: 0px 0px 15px 0px rgba(27, 27, 27, 0.362);
    box-shadow: 0px 4px 15px 0px rgba(27, 27, 27, 0.362);
}
.btn-success{
    background-color: #26e411 ;
    border-radius: 16px;
    padding: 8px 25px;
    margin: 10px;
}
.btn-danger{
    background-color: #e31717 ;
    border-radius: 16px;
    padding: 8px 25px;
    margin: 10px;
}
.btn-info{
    background-color: #11a1e4 ;
    border-radius: 16px;
    padding: 8px 25px;
    margin: 10px;
}
/* All Navigation related Css will be Right Here */


.nav-item button:hover{
    background-color: var(--nav-btn-color);
    border-radius: 0px;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    transition: all 150ms ease-in 50ms;
}
.nav-item button{
    transition: all 150ms ease-in 50ms;
}
.side-nav {
    background-color: #ffffff00;
    width: inherit;
    grid-column:2/3;
    height: min-content;
}
.profile-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    object-fit: cover;
}
.nav-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    overflow-y: visible;
}
.nav-item {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-weight: 700;
}
.nav-btn{
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 0.9em;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
}
.ham-one, .ham-two{
    width: 25px;
    margin: 2px;
    height: 3px;
    background-color: white;
}
.full-menu .ham-one{
    background-color: var(--nav-btn-color);
    transform: rotate(45deg) scaleX(1.1) translateX(5px);
    z-index: 5;
}
.full-menu .ham-two{
    background-color:var(--nav-btn-color);
    transform: rotate(-45deg) scaleX(1.1) translateX(5px);
    z-index: 5;
}

/* Header section CSS will be Here */


header {
    height: 50px;
    width: inherit;
    grid-column: 2 / auto;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--header-color);
}
header > a {
    text-decoration: none;
    font-size:1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    padding-right: 2rem;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow:2px 2px 10px #000000;
    letter-spacing: 2px;
}


/* main section css will be Here */


#main {
    grid-column: 2 / auto;
    min-height: 100vh;
    box-sizing: border-box;
}
.hero-div{
    background: url("/static/img/hero-desk-img.jpg"), black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    width: inherit;
    padding: 15%;
}
.hero-detail{
    text-align: center;
    padding: 8%;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.453);
    font-size: large;
}
.hero-detail h1{
    font-size: 2.0rem;
    font-weight: 700;
}

/* Profile Block css */


#profile-block{
    width:inherit;
    max-width: 1225px;
    height:fit-content;
    margin: auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.profile-page-img {
    margin-top: -7%;
    max-width: 200px;
    max-height: 200px;
    height: 20vh;
    width:20vh;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
    object-fit: cover;
}
.username{
    color: black;
    font-size: 1.5em;
    text-decoration: none;
}
.user-bio{
    margin: 20px;
    text-align:center;
    font-weight: 500;
    max-width: 800px;
    margin: auto;
}
.cover-div {
    height: 30vh;
    background-color: black;
}

/* Competition Page css */


#comp-block, #challenge-block,#practice-block{
    max-width: 1125px;
    margin: auto;
}
#comp-block h1, #challenge-block h1,#practice-block h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color: #F23005;
}
#comp-block h2, #challenge-block h2,#practice-block h2{
    text-align: center;
    margin: 30px auto;
    color: #000000;
}
.card-div{
    margin: auto;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card{
    max-width: 290px;
    max-height: min-content;
    border: 0.1px solid rgba(0, 132, 255, 0.593);
    background-color: #d8d9d75c;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    margin: 30px;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
}
.card:nth-child(even){
    background-color: #d8d9d70d;
}
.card-body h3{
    font-size: 1.5rem;
    font-weight: 400;
}
.card-body{
    text-align: justify;
    height: 160px;
    overflow: hidden;
}


/* Challenge Block Css starts from here */

.username-with-photo{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: start;
    align-items: center;
}
#profile-with-user{
    width: 60px;
    height: 60px;
}
.chl-btn-div{
    width: inherit;
    min-height: 50px;
}
.chl-body{
    height: fit-content;
    margin-top: -30px;
}


/*Practice Section Css will be Here?*/

#practice-block {
    max-width: 1125px;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
}
#practice-form-div {
    justify-content: center;
}
#practice-form,#contest-form{
    flex-direction: column;
    width: fit-content;
    margin: auto;
    padding: 20px 50px;
}
.practice-body{
    height: fit-content;
    padding: 20px;
}
.score{
    font-weight: 900;
    font-size: 24px;
}
.outer{
    background-color: #D8D9D7;
    width:200px;
    border-radius: 8px;
    height: 10px;
    margin-top: -20px;
}
.inner{
    height: inherit;
    background-color: #26e411;
    border-radius: 8px;
}
 
/*  Competition page css is right here */

.compPageDiv{
    flex-direction:column;
    min-width:95%;
    height:fit-content;
}


/* footer section css will be here */

footer {
    grid-column: 2 / auto;
    background-color: rgb(27, 27, 27);
    color: rgb(130, 133, 135);
    max-height: fit-content;
    padding: 30px 0px;
}
footer > p{
    text-align: center;
}
.social-link{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}


/* Css For Mobile And Tablet Screen will be right Here */


@media (max-width:1000px) {
    body {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0px auto;
    }
    .profile-img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .hero-div{
        background-image:url("/static/img/hero-desk-img.jpg");
    }
    .flex{
        flex-direction: column;
    }
    .side-nav {
        background-color: var(--nav-color);
        position: fixed;
        left: -320px;
        top: 0;
        height: 100vh;
        grid-column:0/1;
        width: 320px;
        transition: left 0.8s ease-in-out 0.1s;
    }
    .menu-bar {
        position: absolute;
        left:20px;
        border-radius: 50%;
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .fullnav {
        margin: -8px;
        left:8px;
        transition: left 0.8s ease-in-out 0.1s;
    }
    .nav-content{
        margin-top: 70px;
        display: block;
    }
    #nav-items{
        margin-top: 50px;
        margin-left: 20px;
    }
    .nav-item{
        margin: 3px 6px;
        list-style-position: inside;
    }
}
@media (max-width:768px) {
    .card-div{
        justify-content: center;
    }
    .card{
        max-width: 290px;
    }
    .card-body{
        height: fit-content;
        min-height: fit-content;
        max-height: 50vh;
    }
}
@media (max-width:425px) {
    header {
        justify-content: end;
    }
}