{% extends 'corival/layout.html' %}
{% load static %}
{% block title %} {{comp.name}} {% endblock %}

{% block body %}
<div id="contest-details">
    <h1>{{comp.name}}</h1>
    <p><strong>Created By: </strong><a href="{% url 'get_user' comp.createdBy %}">{{comp.createdBy}}</a></p>
    <p><strong>Start Time: </strong>{{comp.startTime}}</p>
    <p><strong>Expires On: </strong>{{comp.endTime}}</p>
    <p><strong>Duration: </strong>{{comp.duration}}</p>
    <p><strong>Total Questions: </strong>{{comp.noOfQuestion}}</p>
    {% if comp.isChallenge %}
    {% else %}
    <p><strong>Total Participients: </strong>{{noOfAttendee}}</p>
    <p><strong>Description: </strong>{{comp.description}}</p>
    {% endif %}
</div>
<div id="contest-meta">
    <div class="center">
    {% if your %}
        <h2>Your Score</h2>
        <div id="green-circle" class="success-button center">
            <strong>{{your.score}}%</strong>
        </div>
    {% else %}
        <form action="{% url 'start-competition' comp.id %}" onsubmit="return confirm('Are You Sure You want to start Contest?');" method="get">
            <input type="submit" value="Start Now" class="success-button" id="startComp">
        </form>
    {% endif %}
    </div>
    <ul class="notifi-list">
        {% for attendee in attendees %}
            <li id="notification">
                <a href="{% url 'get_user' attendee.userName %}">@{{attendee.userName}}</a>
                <p style="font-size:1.5em">{{attendee.score}}%</p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}