{% extends 'corival/layout.html' %}
{% load static %}
{% block title %} {{user.username}} {% endblock %}

{% block body %}
<section id="createcontestsection">
    <h1>Create Contest</h1>
    <form action="{% url 'add_quiz' %}" class="center card" id="createcontestform" method="post">
        <label for="nameOfContest">Title: </label>
        <input type="text" id="nameOfContest" name="name" required>
        <label for="start-time">Start Time: </label>
        <input type="datetime-local" name="startTime" id="starttime" required>
        <label for="end-time">End Time: </label>
        <input type="datetime-local" name="endTime" id="endtime" required>
        <label for="description-text">Description: </label>
        <textarea name="description" id="description-text" rows="3"></textarea>
        <label for="question-no">Questions Range: </label>
            <input type="range" name="noOfQuestions" id="totalquestions" min="5" max="30" step="5" oninput="rangeInput.value = totalquestions.value">
            <output for="no-of-questions" id="rangeInput" value="5"></output>
        </label>
        <input type="submit" value="Create" class="success-button" id="createcontestbutton">
    </form>
</section>
{% endblock %}