{% extends 'corival/layout.html' %}
{% load static %}
{% block title %} Corival | Home {% endblock %}

{% block body %}
<div class="hero-div">
    <div class="hero-detail">
        <!-- <button id="api-test-btn" class="btn btn-success hover">Check this</button> -->
        <h1>Become Better...</h1>
        <p>7300+ Question avalible for <strong>FREE.</strong> Practice as much you want and get an analysis.</p>
    </div>
</div>
<!-- User Profile page -->
<div id="profile-block-div"class="flex flex-column">
    <div id="profile-block" class="content-div">
    </div>
    <button class="btn pink-btn hover" id="edit-profile-btn"> Edit </button>
</div>

<div id="edit-profile-block" class="flex flex-column">
    <form action="{% url 'get_user' 'request.user.username' %}" method="PUT" id="updateForm" class="flex flex-column">
        <input id="userId" type="text" value="{{ request.user.username }}" hidden>
        <label for="firstName">First Name : </label>
        <input type="text" name="firstName" id="firstName-input" value="{{ request.user.first_name }}">
        <label for="firstName">Last Name : </label>
        <input type="text" name="lastName" id="lastName-input" value="{{ request.user.last_name }}">
        <label for="firstName">Bio : </label>
        <textarea name="bio" id="bio-input" cols="30" rows="10">{{ request.user.bio }}</textarea>
        <input type="submit" value="save" class="btn btn-success hover shadow">
    </form>
    <button id="profile-link" class="btn btn-info hover shadow">Back</button>
</div>

<!-- Competitions block -->
<div id="comp-block">
    <div class="card-div flex">
        {% if request.user.is_manager or request.user.is_superuser %}
        <form action="{% url 'getCompetition' 'create' %}" method="post" id="contest-form" class="shadow flex-column">
            <h2 >Create Contest</h2>
            {% csrf_token %}
            <label for="name">Name:
            <input type="text" name="name"></label><br>
            <label for="start_time">Start Time:
            <input type="datetime-local" name="start_time"></label><br>
            <label for="start_time">End Time:
            <input type="datetime-local" name="end_time"></label><br>
            <label for="description">Description:
            <textarea name="description" id="description" cols="30" rows="10"></textarea></label><br>
            <label for="question-no">Questions Range: </label>
                <span><input type="range" name="no_of_questions" id="totalquestions" min="5" max="30" step="1" oninput="rangeInput.value = totalquestions.value">
                <output for="no-of-questions" id="rangeInput" value="5"></output></span>
            </label>
            <div id="topics">
                <p>Select All topics you want to practice on : </p>
                <label for="PR">
                <input type="checkbox" value="PR" name="topics">Percentage</label>
                <label for="P&L">
                <input type="checkbox" value="P&L" name="topics">Profit and Loss</label>
                <label for="DC">
                <input type="checkbox" value="DC" name="topics">Discount</label>
                <label for="SI">
                <input type="checkbox" value="SI" name="topics">Simple Interest</label>
            </div>
            <input type="submit" value="Create" class="btn btn-success hover shadow" id="createcontestbutton">
        </form>
        {% endif %}
    </div>
    <div class="competitions">
        <h1>Competitions</h1>
        <h2>Ongoing Contests</h2>
        <div class="card-div content-div" id="ongoing-div">
        </div>
        <h2>Archived Contests</h2>
        <div class="card-div content-div" id="archived-div">
        </div>
    </div>
</div>

<!-- Challenege Block -->

<div id="challenge-block">
    <div class="challenges">
        <h1>Challenges</h1>
        <h2>Avalible Challeneges</h2>
        <div class="card-div content-div" id="current-chl-div">
        </div>
        <h2>Old Challeneges</h2>
        <div class="card-div content-div" id="past-chl-div">
        </div>
    </div>
</div>

<!-- Practice Block -->

<div id="practice-block" class="flex">
    <h1>Let's Practice</h1>
    <div id="practice-form-div" class="card-div flex">
        <form action="{% url 'do-practice' 'create' %}" method="post" id="practice-form" class="shadow flex">
            <h2 >Create Practice</h2>
            {% csrf_token %}
            <label for="question-no">Questions Range: </label>
                <span><input type="range" name="noOfQuestions" id="totalquestions" min="5" max="30" step="1" oninput="rangeInput.value = totalquestions.value">
                <output for="no-of-questions" id="rangeInput" value="5"></output></span>
            </label>
            <div id="topics">
                <p>Select All topics you want to practice on : </p>
                <label for="PR">
                <input type="checkbox" value="PR" name="topics">Percentage</label>
                <label for="P&L">
                <input type="checkbox" value="P&L" name="topics">Profit and Loss</label>
                <label for="DC">
                <input type="checkbox" value="DC" name="topics">Discount</label>
                <label for="SI">
                <input type="checkbox" value="SI" name="topics">Simple Interest</label>
            </div>
            <input type="submit" value="Create" class="btn btn-success hover shadow" id="createcontestbutton">
        </form>
    </div>
    <h2>Active Practices</h2>
    <div class="card-div content-div" id="active-practice">
    </div>
    <h2>Previous Practices</h2>
    <div class="card-div content-div" id="previous-practice">
    </div>
</div>

<div id="compPage" class="card-div flex shadow">
</div>

{% endblock %}