{% extends 'corival/layout.html' %}
{% load static %}
{% block title %} {{user.username}} {% endblock %}

{% block body %}
<section id="createcontestsection">
    <h1>Create Practice</h1>
    <form action="{% url 'create-practice' %}" method="post">
        <label for="question-no">Questions Range: </label>
            <input type="range" name="noOfQuestions" id="totalquestions" min="5" max="45" step="5" oninput="rangeInput.value = totalquestions.value">
            <output for="no-of-questions" id="rangeInput" value="5"></output>
        </label>
        <div id="topics">
            <p>Select All topics you want to practice on : </p>
            <label for="PR">
            <input type="checkbox" value="PR" name="topics">Percentage</label>
            <label for="PR">
            <input type="checkbox" value="P&L" name="topics">Profit and Loss</label>
            <label for="PR">
            <input type="checkbox" value="DC" name="topics">Discount</label>
            <label for="PR">
            <input type="checkbox" value="SI" name="topics">Simple Interest</label>
        </div>
        <input type="submit" value="Create" class="success-button" id="createcontestbutton">
    </form>
</section>
{% endblock %}