{% extends 'corival/layout.html' %}
{% load static %}
{% block title %} {{user.username}} {% endblock %}

{% block body %}
<div id="profile">
    <div id="profile-div">
        <h2>{{user.fullName}}</h2>
        <h4>{{user.username}}</h4>
        <p><strong>Email:</strong> {{user.email}}</p>
        <p><strong>Date Joined:</strong> {{user.dateJoined}}</p>
        <p><strong>Last Login:</strong> {{user.lastLogin}}</p>
        <div id="ratings"><p>Apptitude:{{user.rating}}</p></div>
        <h3>About Me</h3>
        <p>{{user.bio}}</p>
      </div>
      {% if user.username == request.user.username %}
      <a href="{% url 'logout-view' %}" class="logout">
        Logout
      </a>
      {% endif %}
</div>
{% endblock %}