{% extends 'corival/layout.html' %}
{% load static %}
{% block title %} {{comp.name}} {% endblock %}

{% block body %}
<div id="Instructions">
    <p><strong>Please read all the instructions related to an exam before starting an online examination.</strong></p>
    <ul>
        <li>You are allowed to submit only once, make sure that you have correctly 
            attempted all the questions before submission.</li>
        <li>After clicking on the Start Test link button, you can see the examination window.</li>
        <li>On the top of your screen, you can see remaining time.</li>
        <li><strong>Do not refresh </strong>the page during test.</li>
    </ul>
    <div class="center"><button id="startcompetition" class="success-button" onclick="startCompetition(this.value)" value={{totalQuestions}}>Start Test</button></div>
</div>
<div id="displayquestion">
    <div id="clock"><span id="clockminute">00</span> : <span id="clocksec">00</span></div>
    <form action="{% url 'start-competition' comp.id %}" method="post" id="quizform">  
        <div id="slides">
            {% for que in questions %}
            <div id="slide{{forloop.counter}}" class="question-div card" >
                <p>{{forloop.counter}}. {{que.statement}}</p>
                <input type="radio" name="{{que.id}}" value="" hidden checked>
                <input type="radio" name="{{que.id}}" class="quiz-option" value="{{que.option1}}"> <span>{{que.option1}}</span></br>
                <input type="radio" name="{{que.id}}" class="quiz-option" value="{{que.option2}}"> <span>{{que.option2}}</span></br>
                <input type="radio" name="{{que.id}}" class="quiz-option" value="{{que.option3}}"> <span>{{que.option3}}</span></br>
                <input type="radio" name="{{que.id}}" class="quiz-option" value="{{que.option4}}"> <span>{{que.option4}}</span></br>
            </div>
            {% endfor %}
        </div>
        <div class="center">
            <input type="submit" value="Submit" id="finish-test" class="success-button" style="background-color:red;margin: 20px;">
        </div>
    </form>
</div>
{% block script %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% endblock %}