{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>SignUp | Corival</title>
</head>
<body>
    <div class="login-page">
        <div class="login-form">
    <h2>SignUp</h2>
    {% if error %}
    <div class="error"><p>
        {{error}}
    </p></div>
    {% endif %}
        <form action="{% url 'register-view' %}" method="post">
            {% csrf_token %}
            <label for="username"><p>Username</p>
                <input type="text" name="username" id="username" required>
            </label>
            <label for="email"><p>Email</p>
                <input type="email" name="email" id="email" required>
            </label>
            <div id="name">
                <label for="firstName"><p>First Name</p>
                    <input type="text" name="firstName" id="firstName" required>
                </label>
                <label for="lastName"><p>Last Name</p>
                    <input type="text" name="lastName" id="lastName">
                </label>
            </div>
            <label for="password"><p>Password</p>
                <input type="password" name="password" id="password" required>
            </label>
            <label for="confirm-pass"><p>Re-Enter Password</p>
                <input type="password" name="confirm-pass" id="confirm-pass" required>
            </label>
            <fieldset>
                <legend><p>You are Here?</p></legend>
                  <label for="purpose">
                      <input type="radio" name="purpose" id="purpose" value="False" checked>to Participate.
                  </label>
                  <label for="purpose">
                      <input type="radio" name="purpose" id="purpose" value="True">to Hire.
                  </label>
              </fieldset>
            <input type="submit" class="btn-submit" value="SignUp">
        </form>
        <p>Already have an Account? <a href="{% url 'login-view' %}">click here</a></p>
        </div>
    </div>
</body>
</html>