{% extends 'corival/layout.html' %}
{% load static %}
{% block title %} Notification {% endblock %}

{% block body %}
<div id="bell">
    <ul class="notifi-list">
        {% for notification in notifications %}
            <li id="notification">
                <p>{{notification.messege}}</p>
                <small style="float:right">{{notification.created_time}}</small>
                <a href="{{notification.message_url}}">
                    See more...
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}